#!/usr/bin/make -f

export PYDEB_SUGGESTS_EXTRAS=test docs apidoc

%:
	dh $@ -Spython_distutils --with pydeb --with python2

locales=src/schooltool/locales
domain=schooltool

override_dh_auto_build:
	rm -f src/schooltool/skin/resources/jquery.min.js
	rm -rf src/schooltool/skin/flourish/resources/jquery/development-bundle/
	rm -rf src/schooltool/skin/flourish/resources/jquery/js/
	
	for f in $(locales)/*.po; do \
	    mkdir -p $${f%.po}/LC_MESSAGES; \
	    msgfmt -o $${f%.po}/LC_MESSAGES/$(domain).mo $$f; \
	done
	rm -f $(locales)/*.po
	rm -f $(locales)/*.pot
	rm -f $(locales)/__init__.py
	dh_auto_build

override_dh_installchangelogs:
	dh_installchangelogs CHANGES.txt
